* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Figtree', sans-serif;
  background-color: #ffffff;
  color: #111827;
}

body {
  min-height: 100%;
  width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Layout */

.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  width: 100%;
  min-height: 100dvh;
  padding-top: 32px;
  padding-bottom: 32px;
}

.app-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  column-gap: 128px;
}

/* Left side */
.left-section {
  width: 676px;
  background-image: url(../images/wrapper.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: #fff;
  padding-top: 108px;
  padding-bottom: 136px;
  min-height: 960px;
}

.left-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.main-heading {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.19;
}

.sub-heading {
  font-size: 22px;
  font-weight: 500;
}

.section-heading {
  font-size: 40px;
  font-weight: bold;
}

.section-text {
  margin-top: 18px;
  font-size: 24px;
  max-width: 406px;
}

/* Right side */

.right-panel {
  width: 358px;
  height: 100%;
  margin-top: auto;
}

.auth-form {
  width: 100%;
}

/* Logo */

.brand-logo {
  max-width: 165px;
  height: auto;
  margin-bottom: 32px;
}

.brand-logo img {
  width: 100%;
  height: 100%;
}

/* Tabs */

.switch-tabs {
  display: inline-flex;
  background-color: #ecf0ff;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 24px;
  width: 100%;
}

.switch-btn {
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: #9c9aa5;
  font-weight: 500;
  width: 100%;
}

.switch-btn.active {
  background-color: #465ff1;
  color: #fff;
}

.form-area {
  display: none;
}

/* Form */

form.active {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #26203b;
}

input {
  border-radius: 8px;
  border: 1px solid rgba(70, 95, 241, 0.4);
  padding: 16px 15.5px;
  font-size: 14px;
  background-color: #ffffff;
  transition: border-color 0.18s ease-out, box-shadow 0.18s ease-out, background-color 0.18s ease-out;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(70, 95, 241, 0.1);
  color: #26203b;
}

input::placeholder {
  color: #9c9aa5;
}

input:focus {
  border: 2px solid #465ff1;
}

/* Valid / invalid states */

input.valid {
  border-color: #15803d;
}

input.invalid {
  border-color: #dc2626;
}

#password {
  box-shadow: none;
}

.field-error {
  font-size: 14px;
  color: #dc2626;
  font-weight: 500;
}

/* Label row */

.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Forgot password */

.link-button {
  border: none;
  background: none;
  font-size: 12px;
  color: #9c9aa5;
  cursor: pointer;
  text-decoration: underline;
}

.link-button:hover {
  text-decoration: none;
}

/* Password */

.pwd-container {
  position: relative;
}

.pwd-container input {
  width: 100%;
  padding-right: 60px;
}

/* Password rules */

.pwd-rule {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1;
  color: #26203b;
}

.pwd-rule:first-child {
  margin: 0;
}

.pwd-rule .rule-check {
  display: inline-flex;
  width: 16px;
  height: 16px;
}

/* rule states */
.pwd-rule.valid {
  color: #15803d;
}

.pwd-rule.invalid {
  color: #dc2626;
}

.pwd-rule .rule-check {
  stroke: #465ff1;
  stroke-opacity: 0.25;
}

.pwd-rule.valid .rule-check {
  stroke: #15803d;
  stroke-opacity: unset;
}

.pwd-rule.invalid .rule-check {
  stroke: #dc2626;
  stroke-opacity: unset;
}

/* Button */

.submit-btn {
  margin-top: 32px;
  width: 100%;
  padding: 14.5px 0;
  border-radius: 8px;
  border: none;
  background-color: #465ff1;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.7;
}

/* Form messages */

.status-msg {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  opacity: 0;
  text-align: center;
}

.status-msg.success {
  color: #15803d;
}

.status-msg.error {
  color: #dc2626;
}

/* Disclaimer */

.terms-text {
  margin: 39px auto 0;
  font-size: 10px;
  color: #9c9aa5;
  text-align: center;
  max-width: 259px;
}

.link-text {
  color: #26203b;
  text-decoration: none;
}

.link-text:hover {
  text-decoration: underline;
}
